*{
    margin: 0;
    padding: 0;
   
}

body{
    background-color: rgb(99, 183, 223);
}

#main{
    width: 500px;
    height: 500px;
    border: 3px solid #000;
    margin: 20px auto;
    margin-top: 40px;
    border-radius: 10px;
    background-color: aqua;
}

.container{
    
  margin-top: 150px;
 
}

#title{
    margin-bottom: 50px;
}

#counter{
    margin-bottom: 55px;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
}

.btn-container > button{
    padding: 10px 15px;
    border-radius: 9px;
    border: none;
    background-color: rgba(11, 122, 76, 0.774);
    color: #fff;
    transition: 0.4s all;
    cursor: pointer;
}

button:hover{
    background-color: rgb(68, 47, 255);
    transition: 0.4s all;
}

